body {
    height: 100%;
    background-color: rgb(83,90,166);
    font-family: 'Fredoka', sans-serif;
}

* {
    font-family: 'Fredoka', sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 3em;
}

#gameboardDiv {
    display: grid;
    justify-content: center;
    grid-template-rows: 125px 125px 125px;
    grid-template-columns: 125px 125px 125px;
    grid-gap: 15px;
    padding-top: 50px;
}

#gameboardDiv > * {
    cursor: pointer;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: -7px 7px #4A4D77;
    text-transform: uppercase;
    transition-duration: 300ms;
    font-size: 5em;
    font-weight: 700;
}

#gameboardDiv > *:hover {
    transition-duration: 300ms;
    transform: translateY(5px);
}

#resetBtn {
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    background-color: transparent;
    border: none;
    color: white;
    box-shadow: 0px 0px 6px 2px #ffffffb0;
    transition-duration: 200ms;
    padding: 10px 12px;
    border-radius: 6px;

}

#resetBtn:hover {
    box-shadow: 0px 0px 10px 4px #ffffffa6;
    transition-duration: 200ms;
}